<div class="container">

    <br>
    <div class="col-4">
        <div class="list-group">
            <div class="list-group-item">
                Id : {{personne.id}}
            </div>
            <div class="list-group-item">
                Nom : {{personne.nom}}
            </div>
            <div class="list-group-item">
                Prenom : {{personne.prenom}}
            </div>
        </div>
        <br>
        <button (click)="retour()" class="btn btn-secondary">Retour</button>
    </div>

</div>