<div class="container">

    <br>
    <div class="col-4">
        <div class="list-group">
            <div class="list-group-item">
                Id : {{employe._id}}
            </div>
            <div class="list-group-item">
                Nom : {{employe.nom}}
            </div>
            <div class="list-group-item">
                Prenom : {{employe.prenom}}
            </div>
            <div class="list-group-item">
                Status : {{employe.status}}
            </div>
        </div>
        <br>
        <button (click)="retour()" class="btn btn-secondary">Retour</button>
    </div>

</div>